@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@100;200;300;400;500;600;700;800;900&display=swap');
// background-color: rgb(202, 76, 146);
// background-color: cadetblue;
// background-color: #f0e3c4;
// background-color: rgb(81, 2, 83);
// color: #da7e14fb;
// color: #c9a74d;
//font-family: 'Tangerine', cursive;
//font-family: 'Playfair Display', serif;
//font-family: 'Open Sans', sans-serif;

.dropdown-item, .dropdown-menu{
    min-width: 100px !important;
}
.light{
    --bgColor: #fff;
    --textColor: black;
    --boxColor: white;
    // --navbgColor:transparent;
}
.dark{
    --bgColor: black;
    --textColor: #cfa030;
    --boxColor: white;
    // --navbgColor:black;
}
html{
    overflow-x: hidden;
}
.fix {
    padding: 15px 0;
    transition: all .3s ease;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.entry-first{
    width: 100%;
    height: 85vh;
    border: 30px solid transparent;
    .swiper-button-prev{
        color: #c9a74d;
        color: transparent;
    }
    .swiper-button-next{
        color: #c9a74d;
        color: transparent;
    }
    .slide1{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-image: url("../image/entryslider-bg1.jpeg");
        display: flex;
        align-items: center;
        justify-content: center;
        .text{
            width: 56%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            img{
                width: 224px;
                height: 237px;
            }
            .line{
                width: 150px;
                height: 1px;
                background-color: #c9a74d;
                margin-top: 20px;
                margin-bottom: 20px;
            }
            h1{
                color: #fff;
                line-height: 27px;
                font-size: 20px;
                font-weight: 400;
                font-family: 'Open Sans', sans-serif;
                margin-bottom: 30px;
            }
            button{
                color: black;
                padding: 12px 76px;
                font-size: 16px;
                font-weight: 300;
                font-family: 'Open Sans', sans-serif;
                background-color: rgb(201, 167, 77);
                border: 1px solid #c9a74d;
            }
        }
    }
    .slide2{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-image: url("../image/entryslider-bg2.jpeg");
        display: flex;
        align-items: center;
        justify-content: center;
        .text{
            width: 60%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            img{
                width: 224px;
                height: 237px;
            }
            .line{
                width: 150px;
                height: 1px;
                background-color: #c9a74d;
                margin-top: 20px;
                margin-bottom: 20px;
            }
            h1{
                color: #fff;
                line-height: 27px;
                font-size: 20px;
                font-weight: 400;
                font-family: 'Open Sans', sans-serif;
                margin-bottom: 30px;
            }
            button{
                color: black;
                padding: 12px 76px;
                font-size: 16px;
                font-weight: 300;
                font-family: 'Open Sans', sans-serif;
                background-color: rgb(201, 167, 77);
                border: 1px solid #c9a74d;
            }
        }
    }
    .slide3{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-image: url("../image/entryslider-bg3.jpeg");
        display: flex;
        align-items: center;
        justify-content: center;
        .text{
            width: 60%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            img{
                width: 224px;
                height: 237px;
            }
            .line{
                width: 150px;
                height: 1px;
                background-color: #c9a74d;
                margin-top: 20px;
                margin-bottom: 20px;
            }
            h1{
                color: #fff;
                line-height: 27px;
                font-size: 20px;
                font-weight: 400;
                font-family: 'Open Sans', sans-serif;
                margin-bottom: 30px;
            }
            button{
                color: black;
                padding: 12px 76px;
                font-size: 16px;
                font-weight: 300;
                font-family: 'Open Sans', sans-serif;
                background-color: rgb(201, 167, 77);
                border: 1px solid #c9a74d;
            }
        }
    }
    .slide4{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-image: url("../image/entryslider-bg4.jpeg");
        display: flex;
        align-items: center;
        justify-content: center;
        .text{
            width: 60%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            img{
                width: 352px;
                height: 237px;
            }
            .line{
                width: 150px;
                height: 1px;
                background-color: #c9a74d;
                margin-bottom: 20px;
            }
            h1{
                color: #fff;
                line-height: 27px;
                font-size: 20px;
                font-weight: 400;
                font-family: 'Open Sans', sans-serif;
                margin-bottom: 30px;
            }
            button{
                color: black;
                padding: 12px 76px;
                font-size: 16px;
                font-weight: 300;
                font-family: 'Open Sans', sans-serif;
                background-color: rgb(201, 167, 77);
                border: 1px solid #c9a74d;
            }
        }
    }
}
.entry-second{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 60px solid transparent;
    .owl-carousel{
       border: 1px solid transparent;
       border-radius: 50px; 
       background-color: #131313;
       width: 100%;
       height: 100%;
       display: flex;
       align-items: center;
       justify-content: center;
       .item{
           width: 100%;
           height: 100%;
           display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: center;
           text-align: center;
           h1{
               color: #c9a74d;
               font-size: 45px;
               font-weight: 800;
               font-family: 'Tangerine', cursive;
               letter-spacing: 1px;
           }
           h2{
               color: #fff;
               font-size: 17px;
               font-family: 'Open Sans', sans-serif;
           }
           .image{
               width: 90%;
               display: flex;
               align-items: center;
               justify-content: center;
               img{
                   width: 300px;
                   height: 290px;
               }
            }
        }
    }
}
.last-section{
    width: 100%;
    height: 18vh;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    .icons{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        a{
            margin-left: 15px;
            width: 45px;
            height: 45px;
            line-height: 45px;
            border: 1px solid rgb(201, 167, 77);
            border-radius: 50%;
            transition: 1s;
            text-align: center;
            i{
                color: rgb(201, 167, 77);
            }
            &:hover{
                background-color: #c9a74d;
                i{
                    color: black;
                } 
            }
        }
    }
    button {
        color: var(--btnTextColor);
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        padding: 4px 13px;
        border-radius: 10px;
        border: none;
        background-color: rgba(209, 180, 12, 0.884);
        position: fixed;
        right: 20px;
        bottom: 30px;
        animation-name: btnAnimation;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        z-index: 23;
        i {
            font-size: 18px;
        }
    }
}
@keyframes btnAnimation {
    0%{
        transform: translateY(15px);
    }
    50%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(15px);
    }
}
footer{
    width: 100%;
    height: 60vh;
    background-color: #070707;
    display: flex;
    align-items: center;
    justify-content: center;
    .box1{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        border-right: 1px solid #7c7c7c;
        h1{
            color: #fff;
            font-size: 62px;
            font-weight: 100;
            font-family: 'Tangerine', cursive;
            letter-spacing: 1px;
        }
        .line{
            width: 100px;
            height: 1px;
            background-color: #c9a74d;
            margin-top: 5px;
            margin-bottom: 20px;
        }
        a{
            color: #d4d4d4;
            line-height: 25px;
            text-decoration: none;
            font-size: 17px;
            font-weight: 400;
            font-family: 'Open Sans', sans-serif;
        }
    }
    .box2{
        padding: 0px 25px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:flex-end;
        text-align: center;
        border-right: 1px solid #7c7c7c;
        img{
            width: 57px;
            height: 87px;
            margin-bottom: 20px;
        }
        h1{
            color: #fff;
            font-size: 62px;
            font-weight: 100;
            font-family: 'Tangerine', cursive;
            letter-spacing: 1px;
        }
        .line{
            width: 100px;
            height: 1px;
            background-color: #c9a74d;
            margin-top: 5px;
            margin-bottom: 20px;
        }
        h2{
            color: #d4d4d4;
            line-height: 25px;
            font-size: 17px;
            font-weight: 400;
            font-family: 'Open Sans', sans-serif;
        }
    }
    .box3{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        img{
            width: 340px;
            height: 164px;
        }
    }
}
nav{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    background-color: var(--bgColor);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 333;
    .left{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        img{
            width: 35%;
            height: auto;
            object-fit: contain;
        }
    }
    .right{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        a{
            color: var(--textColor);
            text-decoration: none;
            font-size: 18px;
            font-weight: 300;
            font-family: 'Open Sans', sans-serif;
            i{
                color: var(--textColor);
                font-size: 20px;
                transition: all 0.5s;
                text-shadow: 6px 6px 8px #a59898;
                &:hover{
                    color: #cfa030;
                }
            }
        }
        button{
            margin-right: 10px;
            color: black;
            font-size: 18px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            padding: 4px 10px;
            border-radius: 10px;
            border: none;
            background-color: rgba(209, 180, 12, 0.884);
            i{
                color: black;
                font-size: 18px;
            }
        }
        .now{
            color:#c9a74d;
        }
        .number{
            width: auto;
            height: auto;
            padding: 12px;
            position: relative;
            span{
                color: #cfa030;
                position: absolute;
                top: 0px;
                right: 0px;
            }
        }
    }
}
.HFirst{
    width: 100%;
    height: 100vh;
    .swiper-button-prev{
        color: #c9a74d;
    }
    .swiper-button-next{
        color: #c9a74d;
    }
    .slide1{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-image: url("../image/homeslider-bg1.jpeg");
        display: flex;
        align-items: center;
        justify-content: center;
        .text{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            h1{
                font-size: 120px;
                font-weight: 200;
                font-family: 'Tangerine', cursive;
                color: black;
            }
            .line{
                width: 100px;
                height: 1px;
                background-color: #cfa030;
                margin-bottom: 20px;
            }
            p{
                font-size: 20px;
                font-weight: 200;
                color: #7c7c7c;
                font-family: 'Open Sans', sans-serif;
            }
            button{
                padding: 15px 25px;
                border: 1px solid black;
                background-color: black;
                color: #cfa030;
                border-radius: 10px;
                font-family: 'Open Sans', sans-serif;
                letter-spacing: 1px;
                font-size: 20px;
                font-weight: 200;
                margin-top: 20px;
            }
        }
    }
    .slide2{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-image: url("../image/homeslider-bg2.jpeg");
        display: flex;
        align-items: center;
        justify-content: center;
        .text{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            h1{
                font-size: 120px;
                font-weight: 200;
                font-family: 'Tangerine', cursive;
                color: black;
            }
            .line{
                width: 100px;
                height: 1px;
                background-color: #cfa030;
                margin-bottom: 20px;
            }
            p{
                font-size: 20px;
                font-weight: 200;
                color: #7c7c7c;
                font-family: 'Open Sans', sans-serif;
            }
            button{
                padding: 15px 25px;
                border: 1px solid black;
                background-color: black;
                color: #cfa030;
                border-radius: 10px;
                font-family: 'Open Sans', sans-serif;
                letter-spacing: 1px;
                font-size: 20px;
                font-weight: 200;
                margin-top: 20px;
            }
        }
    }
    .slide3{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-image: url("../image/homeslider-bg3.jpeg");
        display: flex;
        align-items: center;
        justify-content: center;
        .text{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            h1{
                font-size: 120px;
                font-weight: 200;
                font-family: 'Tangerine', cursive;
                color: black;
            }
            .line{
                width: 100px;
                height: 1px;
                background-color: #cfa030;
                margin-bottom: 20px;
            }
            p{
                font-size: 20px;
                font-weight: 200;
                color: #7c7c7c;
                font-family: 'Open Sans', sans-serif;
            }
            button{
                padding: 15px 25px;
                border: 1px solid black;
                background-color: black;
                color: #cfa030;
                border-radius: 10px;
                font-family: 'Open Sans', sans-serif;
                letter-spacing: 1px;
                font-size: 20px;
                font-weight: 200;
                margin-top: 20px;
            }
        }
    }
}
.HSecond{
    width: 100%;
    height: 80vh;
    background-image: url(../image/tradition-bg.jpeg);
    display: flex;
    align-items: center;
    justify-content: center;
    .head{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        .line{
            width: 100px;
            height: 1px;
            background-color: #c9a74d;
            margin-top: 5px;
            margin-bottom: 20px;
        }
        h1{
            color: #030303;
            font-size: 45px;
            font-weight: 100;
            font-family: 'Playfair Display', serif;
        }
        h2{
            color: #7c7c7c;
            font-size: 20px;
            font-weight: 300;
            font-family: 'Open Sans', sans-serif;
        }
    }
    .bottom{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .box{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            img{
                width: 115px;
                height: 80px;
            }
            h1{
                color: #030303;
                font-size: 40px;
                font-weight: 100;
                font-family: 'Tangerine', cursive;
            }
            h2{
                color: #7c7c7c;
                font-size: 20px;
                font-weight: 300;
                font-family: 'Open Sans', sans-serif;
            }
        }
    }
}
.HThird{
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(../image/h-thbg.jpeg);
    display: flex;
    align-items: center;
    justify-content: center;
    .box{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
            width: 262px;
            height: 289px;
        }
        .item{
            padding: 30px;
            margin-top: 10px;
            h1{
                color: #da7e14fb;
                font-size: 24px;
                font-weight: 100;
                font-family: 'Playfair Display', serif;
            }
            h2{
                color: #f9f9f9;
                font-size: 17px;
                font-weight: 300;
                font-family: 'Open Sans', sans-serif;
            }
        }
    }
}
.HFourth{
    width: 100%;
    height: 65vh;
    background-image: url(../image/h-fobg.jpeg);
    display: flex;
    align-items: center;
    justify-content: center;
    .slide{
        width: 100%;
        height: 45vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        .text{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .line{
                width: 100px;
                height: 1px;
                background-color: #c9a74d;
                margin-top: 5px;
                margin-bottom: 20px;
            }
            h1{
                color: #030303;
                font-size: 35px;
                font-weight: 100;
                font-family: 'Playfair Display', serif;
            }
            h2{
                color: #7c7c7c;
                font-size: 20px;
                font-weight: 200;
                font-family: 'Open Sans', sans-serif;
                margin-top: 15px;
            }
            h3{
                font-size: 24px;
                font-family: 'Playfair Display', serif;
                letter-spacing: 1px;
                margin-top: 15px;
                span{
                    color: #da7e14fb;
                    font-size: 26px;
                    font-family: 'Tangerine', cursive;
                }
            }
        }
    }
}
.HFifth{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .img{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        img{
            bottom: 0;
            right: 0;
            width: 700px;
            height: 582px;
            position: absolute;
        }
    }
    .text{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 30px;
        .line{
            width: 100px;
            height: 1px;
            background-color: #c9a74d;
            margin-top: 5px;
            margin-bottom: 20px;
        }
        h1{
            color: #030303;
            font-size: 65px;
            font-family: 'Tangerine', cursive;
        }
        h2{
            color: #7c7c7c;
            font-size: 17px;
            font-family: 'Open Sans', sans-serif;
            line-height: 1.5;
            font-weight: 200;
        }
        button{
            margin-top: 20px;
            color: #c9a74d;
            letter-spacing: 1px;
            padding: 13px 71px;
            border: 1px solid #030303;
            background-color: #030303;
            font-family: 'Playfair Display', serif;
            transition: 0.5s;
            &:hover{
                color: black;
                border: #c9a74d;
                background-color: #c9a74d;
            }
        }
    }
}
.HSixth{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .img{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        img{
            left: 0;
            position: absolute;
            width: 703px;
            height: 550px;
        }
    }
    .text{
        padding: 40px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        .line{
            width: 100px;
            height: 1px;
            background-color: #c9a74d;
            margin-top: 5px;
            margin-bottom: 20px;
        }
        h1{
            color: #030303;
            font-size: 65px;
            font-family: 'Tangerine', cursive;
            letter-spacing: 1px;
        }
        h2{
            color: #7c7c7c;
            font-size: 17px;
            font-family: 'Open Sans', sans-serif;
            line-height: 1.5;
            font-weight: 200;
        }
        button{
            margin-top: 20px;
            color: #c9a74d;
            letter-spacing: 1px;
            padding: 13px 85px;
            border: 1px solid #030303;
            background-color: #030303;
            font-family: 'Playfair Display', serif;
            transition: 0.5s;
            &:hover{
                color: black;
                border: #c9a74d;
                background-color: #c9a74d;
            }
        }
    }
}
.HSeventh{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url("../image/7bg.jpeg");
    display: flex;
    align-items: center;
    justify-content: center;
    .head{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        .line{
            width: 100px;
            height: 1px;
            background-color: #c9a74d;
            margin-top: 5px;
            margin-bottom: 20px;
        }
        h1{
            color: #fff;
            font-size: 35px;
            font-family: 'Playfair Display', serif;
        }
        h2{
            color: #fff;
            font-size: 20px;
            font-weight: 100;
            font-family: 'Open Sans', sans-serif;
        }
    }
    .box{
        width: 100%;
        height: 100%;
        .box-item{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin-top: 30px;
            .img{
                img{
                    width: 122px;
                    height: 121px;
                }
            }
            .text{
                margin-left: 20px;
                h1{
                    color: #cfa030;
                    font-size: 23px;
                    font-weight: 300;
                    font-family: 'Playfair Display', serif;
                }
                p{
                    color: #fff;
                    font-size: 17px;
                    font-family: 'Open Sans', sans-serif;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;
                    .dottd{
                        width: 100px;
                        height: 1px;
                        border-bottom: 1px dotted #d4d4d4;
                        margin: 10px;
                        margin-top: 10px;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
.HEighth{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .photo{
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition: ease-in-out 1s;
        .box{
            background-color: rgba(40, 40, 40, .8);
            width: 100%;
            height: 100%;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            z-index: 3;
            transition: all .3s ease;
        }
        img{
            width: 100%;
            height: 100%;
            transition: ease-out 0.5s;
            object-fit: cover;
        }
        .text{
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h6{
                color: #fff;
                transition: all 0.9s ease;
                opacity: 0;
                z-index: 5;
                font-size: 40px;
                font-weight: 100;
            }
            p{
                color: #cfa030;
                transition: all .8s ease;
                opacity: 0;
                z-index: 4;
                font-size: 20px;
                font-weight: 200;
                letter-spacing: 1px;
            }
        }
        &:hover{
            h6{
                opacity: 1;
                transform: translateY(12px);
            }
            p{
                opacity: 1;
                transform: translateY(14px);
            }
            .box{
                opacity: 1;
                visibility: visible;
                color: #fff;
            }
            img{
                transform: scale(1.1);
            }
        }
    }
}
.AFirst{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: bottom;
    object-fit: cover;
    background-image: url(../image/blog1.jpeg);
    display: flex;
    align-items: center;
    justify-content: center;
    .text{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1{
            color: #000000;
            font-size: 70px;
            font-weight: 300;
            font-family: 'Playfair Display', serif;
            margin-bottom: 20px;
            letter-spacing: 1px;
        }
        .line{
            width: 100px;
            height: 1px;
            background-color: #cfa030;
            margin-bottom: 20px;
        }
        h2{
            color: #111010;
            font-size: 30px;
            font-weight: 300;
            letter-spacing: 1px;
            font-family: 'Open Sans', sans-serif;
            i{
                color: #cfa030;
            }
        }
    }
}
.ASecond{
    width: 100%;
    height: 100vh;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    .box{
        width: 100%;
        height: 100%;
        //background-color: aqua;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .text{
            padding-bottom: 50px;
            //background-color: burlywood;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            h1{
                color: rgb(226, 34, 34);
                font-size: 28px;
                font-weight: 200;
                font-family: 'Playfair Display', serif;
                letter-spacing: 2px;
            }
            p{
                color: #7c7c7c;
                font-size: 17px;
                font-weight: 300;
                font-family: 'Open Sans', sans-serif;
            }
        }
    }
}
.AThird{
    width: 100%;
    height: 45vh;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../image/about-bg2.jpeg);
    display: flex;
    align-items: center;
    justify-content: center;
    .box{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p{
            color: #fff;
            font-size: 35px;
            font-weight: 200;
        }
        h1{
            color: #fff;
            font-size: 17px;
            font-weight: 200;
            font-family: 'Open Sans', sans-serif;
        }
    }
}
.AFourth{
    width: 100%;
    height: auto;
    overflow: hidden;
    .head{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 40px;
        h1{
            color: black;
            font-size: 45px;
            font-weight: 100;
            font-family: 'Playfair Display', serif;
            margin: 0px;
            letter-spacing: 2px;
        }
        h2{
            color: #7c7c7c;
            font-size: 18px;
            font-weight: 100;
            font-family: 'Open Sans', sans-serif;
            line-height: 25px;
            letter-spacing: 1px;
        }
        .line{
            width: 100px;
            height: 1px;
            background-color: #c9a74d;
            margin-top: 10px;
            margin-bottom: 8px;
        }
    }
    .box{
        width: 100%;
        height: 100%;
        position: relative;
        .boxGrey{
            background-color: rgba(3, 3, 3, .6);
            opacity: 0;
            visibility: hidden;
            position: absolute;
            z-index: 2;
            width: 100%;
            height: 100%;
            transition: all 0.3s ease;
        }
        &:hover{
            .boxGrey{
                visibility: visible;
                opacity: 1;
            }
        }
        img{
            width: 360px;
            height: 431px;
        }
    }
}
.CFirst{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url("../image/contact-bg.jpeg");
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
        color: #000000;
        font-size: 70px;
        font-weight: 300;
        font-family: 'Playfair Display', serif;
        margin-bottom: 20px;
        letter-spacing: 1px;
    }
    .line{
        width: 100px;
        height: 1px;
        background-color: #cfa030;
        margin-bottom: 20px;
    }
    h2{
        color: #111010;
        font-size: 30px;
        font-weight: 300;
        letter-spacing: 1px;
        font-family: 'Open Sans', sans-serif;
        i{
            color: #cfa030;
        }
    }
}
.CSecond{
    width: 100%;
    height: 70vh;
    background-image: url("../image/cbg2.jpeg");
    display: flex;
    align-items: center;
    justify-content: center;
    .left{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .head{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            .line{
                width: 70px;
                height: 1px;
                background-color: #c9a74d;
                margin: 12px 0px;
            }
            h1{
                color: #030303;
                font-size: 35px;
                font-weight: 100;
                font-family: 'Open Sans', sans-serif;
                letter-spacing: 1px;
                margin: 0px;
            }
            span{
                color: #7c7c7c;
                font-size: 18px;
                font-family: 'Open Sans', sans-serif;
                line-height: 28px;
            }
        }
        .text{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .box1{
                width: 80%;
                height: 100%;
                h1{
                    color: #030303;
                    font-size: 17px;
                    font-weight: 400;
                    font-family: 'Playfair Display', serif;
                }
                p{
                    color: #7c7c7c;
                    font-size: 17px;
                    font-weight: 400;
                    font-family: 'Playfair Display', serif;
                }
            }
        }
    }
    .right{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        input{
            width: 635px;
            height: 45px;
            margin: 0 0 15px;
            padding: 15px 24px;
            border: 1px solid #ebe9e9;
        }
        .big{
            width: 635px;
            height: 158px;
        }
        button{
            color: #c9a74d;
            padding: 10px 50px;
            background-color: #030303;
            border: 2px solid transparent;
            letter-spacing: 1px;
            font-size: 16px;
            font-weight: 100;
            font-family: 'Open Sans', sans-serif;
        }
    }
}
.CThird{
    width: 100%;
    height: auto;
}
.OFirst{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../image/our-process-bg.jpeg);
    background-image: url(../image/blog4.jpeg);
    display: flex;
    align-items: center;
    justify-content: center;
    .text{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        h1{
            color: #000000;
            font-size: 70px;
            font-weight: 300;
            font-family: 'Playfair Display', serif;
            margin-bottom: 20px;
            letter-spacing: 1px;
        }
        .line{
            width: 100px;
            height: 1px;
            background-color: #cfa030;
            margin-bottom: 20px;
        }
        h2{
            color: #111010;
            font-size: 30px;
            font-weight: 300;
            letter-spacing: 1px;
            font-family: 'Open Sans', sans-serif;
            i{
                color: #cfa030;
            }
        }
    }
}
.OSecond{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .box{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        img{
            width: 635px;
            height: 392px;
        }
        .box1{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            img{
                width: 85px;
                height: 83px;
            }
            h3{
                color: #350101;
                font-size: 58px;
                font-weight: 100;
                margin-top: 10px;
                letter-spacing: 2px;
                font-family: 'Tangerine', cursive;
            }
            span{
                color: #7c7c7c;
                font-size: 18px;
                font-family: 'Open Sans', sans-serif;
            }
        }
    }
}
.OThird{
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: top;
    background-image: url("../image/ice-cream-bg.jpeg");
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    .box{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        img{
            width: 605px;
            height: 373px;
        }
        h1{
            color: #fff;
            letter-spacing: 2px;
            font-weight: 100;
            font-family: 'Playfair Display', serif;
        }
        span{
            color: #fff;
            letter-spacing: 1px;
            font-family: 'Open Sans', sans-serif;
            line-height: 25px;
        }
        .line{
            width: 100px;
            height: 1px;
            background-color: #c9a74d;
            margin-top: 5px;
            margin-bottom: 20px;
        }
    }
}
.OFourth{
    width: 100%;
    height: 65vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../image/our-process-bg2.jpeg");
    display: flex;
    align-items: center;
    justify-content: center;
    .box{
        width: 100%;
        height: 100%;
        text-align: center;
        h1{
            color: #030303;
            font-size: 45px;
            font-weight: 300;
            letter-spacing: 1px;
            font-family: 'Tangerine', cursive;
        }
        p{
            color: #7c7c7c;
            font-size: 17px;
            font-family: 'Open Sans', sans-serif;
        }
    }
}
.OFifth{
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(../image//bg-cookie.jpeg);
    display: flex;
    align-items: center;
    justify-content: center;
    .box{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        .buttons{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            button{
                border: 1px solid #cfa030;
                background-color: transparent;
                padding: 14px 28px;
                color: #363636;
                letter-spacing: 1px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 300;
                font-size: 16px;
                transition: all 0.5s;
                &:hover{
                    background-color: #c9a74d;
                }
            }
        }
        p{
            color: #7c7c7c;
            margin-top: 15px;
            font-size: 20px;
            font-family: 'Playfair Display', serif;
            font-weight: 300;
        }
        span{
            i{color: #cfa030;}
            color: #7c7c7c;
            font-size: 18px;
            font-family: 'Playfair Display', serif;
            letter-spacing: 1px;
        }
    }
}
.OSixth{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .right{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 605px;
            height: 373px;
        }
    }
    .left{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        .line{
            width: 90px;
            height: 2px;
            background-color: #cfa030;
            margin-bottom: 20px;
        }
        h1{
            margin-bottom: 20px;
            font-size: 65px;
            font-weight: 200;
            font-family: 'Tangerine', cursive;
            letter-spacing: 1px;
        }
        span{
            font-size: 18px;
            font-weight: 300;
            color: #7c7c7c;
            font-family: 'Open Sans', sans-serif;
        }
        .boxes{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            .box{
                padding: 10px 30px;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                span{
                    color: #cfa030;
                    font-size: 50px;
                    font-weight: 300;
                    font-family: 'Open Sans', sans-serif;
                }
                h2{
                    font-size: 18px;
                    color: #cfa030;
                    font-weight: 300;
                    font-family: 'Open Sans', sans-serif;
                }
            }
        }
    }
}
.ShopFirst{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(../image/shop-bg.jpeg);
    display: flex;
    align-items: flex-start;
    .box{
        width: 100%;
        height: 100%;
        padding-top: 180px;
        h1{
            color: #000000;
            font-size: 70px;
            font-weight: 300;
            font-family: 'Playfair Display', serif;
            margin-bottom: 20px;
            letter-spacing: 1px;
        }
        .line{
            width: 100px;
            height: 1px;
            background-color: #cfa030;
            margin-bottom: 20px;
        }
        h2{
            color: #111010;
            font-size: 30px;
            font-weight: 300;
            letter-spacing: 1px;
            font-family: 'Open Sans', sans-serif;
            i{
                color: #cfa030;
            }
        }
    }
}
.ShopSecond{
    width: 100%;
    height: auto;
    background-color: var(--bgColor);
    color: var(--textColor);
    .head{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        h1{
            font-family: 'Playfair Display', serif;
            font-size: 60px;
            font-weight: 400;
            letter-spacing: 1px;
            i{
                font-size: 35px;
                color: #cfa030;
            }
        }
    }
    .searchbox{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        input{
            padding: 10px 15px;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            border: 1px solid #cfa030;
            font-size: 18px;
        }
        button{
            padding: 10px 30px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            border: 1px solid black;
            background-color: black;
            color: #cfa030;
            letter-spacing: 1px;
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
        }
    }
    .box{
        background-color: var(--boxColor);
        border: 1px solid transparent;
        border-radius: 20px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 8px 0;
        img{
            width: 70%;
            height: 70%;
            object-fit: contain;
        }
        h1,h2{
            color: black;
        }
        h1{
            font-family: 'Tangerine', cursive;
            font-size: 40px;
            font-weight: 600;
            margin: 0px;
            margin-top: 10px;
        }
        h2{
            font-size: 20px;
            font-weight: 300;
        }
        button{
            background-color: #cfa030;
            font-size: 15px;
            padding: 8px;
            margin-bottom: 5px;
        }
    }
}
.Cart {
    width: 100%;
    height: auto;
    padding: 40px 0;
    background-color: var(--bgColor);
    color: var(--textColor);
    margin-top: 10vh;
   .cart-main{
    width: 95%;
    height: auto;
    margin: auto;
    table {
        width: 90%;
        margin: 0 auto;
        height: 100%;
        border: 1px solid #fff;
        border-top: none;
        thead,
        tr,
        tbody {
            width: 100%;
            height: 100%;
            padding: 20px;
        }
        thead {
            background-color: black;
            color: #cfa030;
        }
        th,td {
            padding: 18px  14px!important;
        }
        td{
            &:nth-child(2){
                padding-left: 0 !important;
            }
        }
        i{
          cursor: pointer;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          text-align: center;
          line-height: 25px !important;
        }
        h1 {
            font-size: 20px;
            font-weight: 300;
            margin: 0px;
        }
        .count-button {
            border: 2px solid #ddd;
            height: 55px;
            border-radius: 50px;
            width: 142px;
            display: flex;
            justify-content: space-around;
            padding:0 15px;
            align-items: center;
            span{
                color: #818181;
                font-size: 22px;
                font-weight: 500;
                cursor: pointer;
                &:nth-child(2){
                    cursor: none;
                }
            }
        }
        p {
            font-size: 24px;
            font-weight: 300;
            margin: 0px;
        }
        img {
            width: 130px;
        }
    }
    .btn{
        background-color: black;
        color: #cfa030;
        padding: 5px 10px;
        letter-spacing: 0.5px;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400 !important;
    }
    h3{
        color: var(--textColor);
        font-weight: 300;
    }
   }
}
.BlogFirst{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: bottom;
    object-fit: cover;
    background-image: url(../image/blog-bg.jpeg) ;
    display: flex;
    align-items: center;
    .box{
        width: 100%;
        height: 100%;
        padding-bottom: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        text-align: center;
        h1{
            color: #000000;
            font-size: 70px;
            font-weight: 300;
            font-family: 'Playfair Display', serif;
            margin-bottom: 20px;
            letter-spacing: 1px;
        }
        .line{
            width: 100px;
            height: 1px;
            background-color: #cfa030;
            margin-bottom: 20px;
        }
        h2{
            color: #111010;
            font-size: 30px;
            font-weight: 300;
            letter-spacing: 1px;
            font-family: 'Open Sans', sans-serif;
            i{
                color: #cfa030;
            }
        }
    }
}
.BlogSecond{
    width: 100%;
    height: auto;
    background-color: var(--bgColor);
    .head{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        h1{
            font-family: 'Playfair Display', serif;
            font-size: 70px;
            font-weight: 400;
            letter-spacing: 1px;
            color: var(--textColor);
            i{
                font-size: 35px;
                color: #cfa030;
            }
        }
    }
    .box{
        background-color: var(--boxColor);
        padding: 10px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        border: 1px solid transparent;
        border-radius: 20px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-position: center;
            background-size: cover;
        }
        h1{
            font-size: 60px;
            margin-top: 10px;
            font-family: 'Tangerine', cursive;
            i{
                font-size: 30px;
                color: #cfa030;
            }
        }
        h2{
            font-size: 22px;
            margin-top: 10px;
            font-weight: 300;
            font-family: 'Open Sans', sans-serif;
        }
        h3{
            font-size: 20px;
            font-weight: 500;
            margin-top: 10px;
            color: rgb(75, 72, 72);
            font-family: 'Open Sans', sans-serif;
            font-style: italic;
        }
        button{
            padding: 15px 25px;
            border: 3px solid #cfa030;
            background-color: black;
            margin-top: 10px;
            color: #cfa030;
            border-radius: 10px;
            font-family: 'Open Sans', sans-serif;
            letter-spacing: 1px;
            font-size: 20px;
            font-weight: 200;
            margin-top: 10px;
        }
        .line{
            width: 100px;
            height: 1px;
            background-color: #cfa030;
            margin-bottom: 20px;
        }
    }
}
.WishFirst{
    width: 100%;
    height: 20vh;
    margin-top: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    h1{
        color: #000000;
        font-size: 70px;
        font-weight: 300;
        font-family: 'Playfair Display', serif;
        letter-spacing: 1px;
        i{
            color: #cfa030;
            font-size: 35px;
        }
    }
}
.SignFirst{
    width: 100%;
    height: 90vh;
    margin-top: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2{
            color: #000000;
            font-size: 50px;
            font-weight: 300;
            font-family: 'Playfair Display', serif;
            letter-spacing: 1px;
            i{
                color: #cfa030;
                font-size: 35px;
            }
        }
        input{
            padding: 10px;
            margin-top: 10px;
            border: 1px solid black;
            border-radius: 10px;
        }
        button{
            margin-top: 15px;
            padding: 10px 20px ;
            border: 1px solid black;
            border-radius: 10px;
            background-color: black;
            color: #cfa030;
            letter-spacing: 1px;
            font-size: 18px;
            font-family: 'Open Sans', sans-serif;
        }
    }
}