@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@100;200;300;400;500;600;700;800;900&display=swap");
.entry-first {
  width: 100%;
  height: 100vh;
  position: relative;
}

.entry-first .swiper-button-prev {
  color: #c9a74d;
}

.entry-first .swiper-button-next {
  color: #c9a74d;
}

.entry-first header {
  width: 100%;
  height: auto;
  position: absolute;
  background-color: transparent;
  z-index: 4;
}

.entry-first header .head {
  width: 100%;
  height: 100%;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0px 0px 30px;
}

.entry-first header .head img {
  width: 110px;
  height: 60px;
}

.entry-first header .head button {
  background-color: transparent;
  border: transparent;
}

.entry-first header .head button i {
  color: #c9a74d;
}

.entry-first .slide1 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("../image/entryslider-bg1.jpeg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.entry-first .slide1 .text {
  width: 56%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.entry-first .slide1 .text img {
  width: 224px;
  height: 237px;
}

.entry-first .slide1 .text .line {
  width: 150px;
  height: 1px;
  background-color: #c9a74d;
  margin-top: 20px;
  margin-bottom: 20px;
}

.entry-first .slide1 .text h1 {
  color: #fff;
  line-height: 27px;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 30px;
}

.entry-first .slide1 .text button {
  color: black;
  padding: 12px 76px;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  background-color: #c9a74d;
  border: 1px solid #c9a74d;
}

.entry-first .slide2 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("../image/entryslider-bg2.jpeg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.entry-first .slide2 .text {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.entry-first .slide2 .text img {
  width: 224px;
  height: 237px;
}

.entry-first .slide2 .text .line {
  width: 150px;
  height: 1px;
  background-color: #c9a74d;
  margin-top: 20px;
  margin-bottom: 20px;
}

.entry-first .slide2 .text h1 {
  color: #fff;
  line-height: 27px;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 30px;
}

.entry-first .slide2 .text button {
  color: black;
  padding: 12px 76px;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  background-color: #c9a74d;
  border: 1px solid #c9a74d;
}

.entry-first .slide3 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("../image/entryslider-bg3.jpeg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.entry-first .slide3 .text {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.entry-first .slide3 .text img {
  width: 224px;
  height: 237px;
}

.entry-first .slide3 .text .line {
  width: 150px;
  height: 1px;
  background-color: #c9a74d;
  margin-top: 20px;
  margin-bottom: 20px;
}

.entry-first .slide3 .text h1 {
  color: #fff;
  line-height: 27px;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 30px;
}

.entry-first .slide3 .text button {
  color: black;
  padding: 12px 76px;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  background-color: #c9a74d;
  border: 1px solid #c9a74d;
}

.entry-first .slide4 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("../image/entryslider-bg4.jpeg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.entry-first .slide4 .text {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.entry-first .slide4 .text img {
  width: 352px;
  height: 237px;
}

.entry-first .slide4 .text .line {
  width: 150px;
  height: 1px;
  background-color: #c9a74d;
  margin-bottom: 20px;
}

.entry-first .slide4 .text h1 {
  color: #fff;
  line-height: 27px;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 30px;
}

.entry-first .slide4 .text button {
  color: black;
  padding: 12px 76px;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  background-color: #c9a74d;
  border: 1px solid #c9a74d;
}

.entry-second {
  width: 100%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #131313;
}

.entry-second .owl-carousel {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.entry-second .owl-carousel .item {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.entry-second .owl-carousel .item h1 {
  color: #c9a74d;
  font-size: 45px;
  font-weight: 800;
  font-family: 'Tangerine', cursive;
  letter-spacing: 1px;
}

.entry-second .owl-carousel .item h2 {
  color: #fff;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
}

.entry-second .owl-carousel .item .image {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.entry-second .owl-carousel .item .image img {
  width: 300px;
  height: 290px;
}

.last-section {
  width: 100%;
  height: 18vh;
  background-color: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.last-section .icons {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.last-section .icons a {
  margin-left: 15px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border: 1px solid #c9a74d;
  border-radius: 50%;
  -webkit-transition: 1s;
  transition: 1s;
  text-align: center;
}

.last-section .icons a i {
  color: #c9a74d;
}

.last-section .icons a:hover {
  background-color: #c9a74d;
}

.last-section .icons a:hover i {
  color: black;
}

footer {
  width: 100%;
  height: 60vh;
  background-color: #070707;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .box1 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-right: 1px solid #7c7c7c;
}

footer .box1 h1 {
  color: #fff;
  font-size: 62px;
  font-weight: 100;
  font-family: 'Tangerine', cursive;
  letter-spacing: 1px;
}

footer .box1 .line {
  width: 100px;
  height: 1px;
  background-color: #c9a74d;
  margin-top: 5px;
  margin-bottom: 20px;
}

footer .box1 a {
  color: #d4d4d4;
  line-height: 25px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

footer .box2 {
  padding: 0px 25px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
  border-right: 1px solid #7c7c7c;
}

footer .box2 img {
  width: 57px;
  height: 87px;
  margin-bottom: 20px;
}

footer .box2 h1 {
  color: #fff;
  font-size: 62px;
  font-weight: 100;
  font-family: 'Tangerine', cursive;
  letter-spacing: 1px;
}

footer .box2 .line {
  width: 100px;
  height: 1px;
  background-color: #c9a74d;
  margin-top: 5px;
  margin-bottom: 20px;
}

footer .box2 h2 {
  color: #d4d4d4;
  line-height: 25px;
  font-size: 17px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

footer .box3 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .box3 img {
  width: 340px;
  height: 164px;
}

nav {
  background-color: transparent;
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .left {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

nav .left img {
  width: 110px;
  height: 60px;
  margin-left: 35px;
}

nav .right {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav .right a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

nav .right a i {
  color: black;
  font-size: 18px;
}

nav .right button {
  border: none;
  background-color: transparent;
  color: black;
  font-size: 18px;
}

nav .right button i {
  color: black;
  font-size: 18px;
}

nav .right .now {
  color: #c9a74d;
}

.HFirst {
  width: 100%;
  height: 100vh;
  position: relative;
}

.HFirst .swiper-button-prev {
  color: #c9a74d;
}

.HFirst .swiper-button-next {
  color: #c9a74d;
}

.HFirst nav {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 44444;
}

.HFirst nav .left {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.HFirst nav .left img {
  width: 110px;
  height: 60px;
  margin-left: 35px;
}

.HFirst nav .right {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.HFirst nav .right a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.HFirst nav .right .now {
  color: #c9a74d;
}

.HFirst .slide1 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("../image/homeslider-bg1.jpeg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.HFirst .slide1 .text {
  width: 100%;
  height: 100%;
  background-color: cadetblue;
}

.HFirst .slide2 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("../image/homeslider-bg2.jpeg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.HFirst .slide2 .text {
  width: 100%;
  height: 100%;
  background-color: cadetblue;
}

.HFirst .slide3 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("../image/homeslider-bg3.jpeg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.HFirst .slide3 .text {
  width: 100%;
  height: 100%;
  background-color: cadetblue;
}

.HSecond {
  width: 100%;
  height: 80vh;
  background-image: url(../image/tradition-bg.jpeg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.HSecond .head {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.HSecond .head .line {
  width: 100px;
  height: 1px;
  background-color: #c9a74d;
  margin-top: 5px;
  margin-bottom: 20px;
}

.HSecond .head h1 {
  color: #030303;
  font-size: 45px;
  font-weight: 100;
  font-family: 'Playfair Display', serif;
}

.HSecond .head h2 {
  color: #7c7c7c;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.HSecond .bottom {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.HSecond .bottom .box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.HSecond .bottom .box img {
  width: 115px;
  height: 80px;
}

.HSecond .bottom .box h1 {
  color: #030303;
  font-size: 40px;
  font-weight: 100;
  font-family: 'Tangerine', cursive;
}

.HSecond .bottom .box h2 {
  color: #7c7c7c;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.HThird {
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url(../image/h-thbg.jpeg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.HThird .box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.HThird .box img {
  width: 262px;
  height: 289px;
}

.HThird .box .item {
  padding: 30px;
  margin-top: 10px;
}

.HThird .box .item h1 {
  color: #da7e14fb;
  font-size: 24px;
  font-weight: 100;
  font-family: 'Playfair Display', serif;
}

.HThird .box .item h2 {
  color: #f9f9f9;
  font-size: 17px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.HFourth {
  width: 100%;
  height: 65vh;
  background-image: url(../image/h-fobg.jpeg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.HFourth .slide {
  width: 100%;
  height: 45vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.HFourth .slide .text {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.HFourth .slide .text .line {
  width: 100px;
  height: 1px;
  background-color: #c9a74d;
  margin-top: 5px;
  margin-bottom: 20px;
}

.HFourth .slide .text h1 {
  color: #030303;
  font-size: 35px;
  font-weight: 100;
  font-family: 'Playfair Display', serif;
}

.HFourth .slide .text h2 {
  color: #7c7c7c;
  font-size: 20px;
  font-weight: 200;
  font-family: 'Open Sans', sans-serif;
  margin-top: 15px;
}

.HFourth .slide .text h3 {
  font-size: 24px;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
  margin-top: 15px;
}

.HFourth .slide .text h3 span {
  color: #da7e14fb;
  font-size: 26px;
  font-family: 'Tangerine', cursive;
}

.HFifth {
  width: 100%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.HFifth .img {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.HFifth .img img {
  bottom: 0;
  right: 0;
  width: 700px;
  height: 582px;
  position: absolute;
}

.HFifth .text {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
}

.HFifth .text .line {
  width: 100px;
  height: 1px;
  background-color: #c9a74d;
  margin-top: 5px;
  margin-bottom: 20px;
}

.HFifth .text h1 {
  color: #030303;
  font-size: 65px;
  font-family: 'Tangerine', cursive;
}

.HFifth .text h2 {
  color: #7c7c7c;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  font-weight: 200;
}

.HFifth .text button {
  margin-top: 20px;
  color: #c9a74d;
  letter-spacing: 1px;
  padding: 13px 71px;
  border: 1px solid #030303;
  background-color: #030303;
  font-family: 'Playfair Display', serif;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.HFifth .text button:hover {
  color: black;
  border: #c9a74d;
  background-color: #c9a74d;
}

.HSixth {
  width: 100%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.HSixth .img {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.HSixth .img img {
  left: 0;
  position: absolute;
  width: 703px;
  height: 550px;
}

.HSixth .text {
  padding: 40px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.HSixth .text .line {
  width: 100px;
  height: 1px;
  background-color: #c9a74d;
  margin-top: 5px;
  margin-bottom: 20px;
}

.HSixth .text h1 {
  color: #030303;
  font-size: 65px;
  font-family: 'Tangerine', cursive;
  letter-spacing: 1px;
}

.HSixth .text h2 {
  color: #7c7c7c;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  font-weight: 200;
}

.HSixth .text button {
  margin-top: 20px;
  color: #c9a74d;
  letter-spacing: 1px;
  padding: 13px 85px;
  border: 1px solid #030303;
  background-color: #030303;
  font-family: 'Playfair Display', serif;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.HSixth .text button:hover {
  color: black;
  border: #c9a74d;
  background-color: #c9a74d;
}

.HSeventh {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url("../image/7bg.jpeg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.HSeventh .head {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.HSeventh .head .line {
  width: 100px;
  height: 1px;
  background-color: #c9a74d;
  margin-top: 5px;
  margin-bottom: 20px;
}

.HSeventh .head h1 {
  color: #fff;
  font-size: 35px;
  font-family: 'Playfair Display', serif;
}

.HSeventh .head h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;
}

.HSeventh .box {
  width: 100%;
  height: 100%;
}

.HSeventh .box .box-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 30px;
}

.HSeventh .box .box-item .img img {
  width: 122px;
  height: 121px;
}

.HSeventh .box .box-item .text {
  margin-left: 20px;
}

.HSeventh .box .box-item .text h1 {
  color: #cfa030;
  font-size: 23px;
  font-weight: 300;
  font-family: 'Playfair Display', serif;
}

.HSeventh .box .box-item .text p {
  color: #fff;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.HSeventh .box .box-item .text p .dottd {
  width: 100px;
  height: 1px;
  border-bottom: 1px dotted #d4d4d4;
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 0;
}

.HEighth {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.HEighth .photo {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
}

.HEighth .photo .box {
  background-color: rgba(40, 40, 40, 0.8);
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 3;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.HEighth .photo img {
  width: 100%;
  height: 100%;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  -o-object-fit: cover;
     object-fit: cover;
}

.HEighth .photo .text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.HEighth .photo .text h6 {
  color: #fff;
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
  opacity: 0;
  z-index: 5;
  font-size: 40px;
  font-weight: 100;
}

.HEighth .photo .text p {
  color: #cfa030;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
  opacity: 0;
  z-index: 4;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
}

.HEighth .photo:hover h6 {
  opacity: 1;
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

.HEighth .photo:hover p {
  opacity: 1;
  -webkit-transform: translateY(14px);
          transform: translateY(14px);
}

.HEighth .photo:hover .box {
  opacity: 1;
  visibility: visible;
  color: #fff;
}

.HEighth .photo:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.AFirst {
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-image: url(../image/about-bg.jpeg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.AFirst nav {
  top: 0;
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 44444;
}

.AFirst nav .left {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.AFirst nav .left img {
  width: 110px;
  height: 60px;
  margin-left: 35px;
}

.AFirst nav .right {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.AFirst nav .right a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.AFirst nav .right .now {
  color: #c9a74d;
}

.AFirst .text {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.AFirst .text h1 {
  color: #5e0202;
  font-size: 60px;
  font-weight: 100;
  font-family: 'Playfair Display', serif;
  margin: 0px;
}

.AFirst .text h2 {
  color: #0c0b0b;
  font-size: 18px;
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;
}

.AFirst .text .line {
  width: 100px;
  height: 1px;
  background-color: #c9a74d;
  margin-top: 5px;
  margin-bottom: 10px;
}

.ASecond {
  width: 100%;
  height: 100vh;
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ASecond .box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ASecond .box .text {
  padding-bottom: 50px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ASecond .box .text h1 {
  color: #e22222;
  font-size: 28px;
  font-weight: 200;
  font-family: 'Playfair Display', serif;
  letter-spacing: 2px;
}

.ASecond .box .text p {
  color: #7c7c7c;
  font-size: 17px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.AThird {
  width: 100%;
  height: 45vh;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(../image/about-bg2.jpeg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.AThird .box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.AThird .box p {
  color: #fff;
  font-size: 35px;
  font-weight: 200;
}

.AThird .box h1 {
  color: #fff;
  font-size: 17px;
  font-weight: 200;
  font-family: 'Open Sans', sans-serif;
}

.AFourth {
  width: 100%;
  height: 80vh;
  background-image: url(../image/white-bg.jpeg);
}

.AFifth {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.AFifth .head {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 40px;
}

.AFifth .head h1 {
  color: black;
  font-size: 45px;
  font-weight: 100;
  font-family: 'Playfair Display', serif;
  margin: 0px;
  letter-spacing: 2px;
}

.AFifth .head h2 {
  color: #7c7c7c;
  font-size: 18px;
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;
  line-height: 25px;
  letter-spacing: 1px;
}

.AFifth .head .line {
  width: 100px;
  height: 1px;
  background-color: #c9a74d;
  margin-top: 10px;
  margin-bottom: 8px;
}

.AFifth .box {
  width: 100%;
  height: 100%;
  position: relative;
}

.AFifth .box .boxGrey {
  background-color: rgba(3, 3, 3, 0.6);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.AFifth .box:hover .boxGrey {
  visibility: visible;
  opacity: 1;
}

.AFifth .box img {
  width: 360px;
  height: 431px;
}

.CFirst {
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url("../image/contact-bg.jpeg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.CFirst nav {
  top: 0;
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.CFirst nav .left {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.CFirst nav .left img {
  width: 110px;
  height: 60px;
  margin-left: 35px;
}

.CFirst nav .right {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.CFirst nav .right a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.CFirst nav .right .now {
  color: #c9a74d;
}

.CFirst h1 {
  color: #610274;
  font-size: 60px;
  font-weight: 100;
  font-family: 'Playfair Display', serif;
  letter-spacing: 2px;
}

.CFirst .line {
  width: 130px;
  height: 1px;
  background-color: #c9a74d;
  margin-top: 5px;
  margin-bottom: 20px;
}

.CFirst span {
  color: #1a1818;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  line-height: 28px;
}

.CSecond {
  width: 100%;
  height: 70vh;
  background-image: url("../image/cbg2.jpeg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.CSecond .left {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.CSecond .left .head {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.CSecond .left .head .line {
  width: 70px;
  height: 1px;
  background-color: #c9a74d;
  margin: 12px 0px;
}

.CSecond .left .head h1 {
  color: #030303;
  font-size: 35px;
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  margin: 0px;
}

.CSecond .left .head span {
  color: #7c7c7c;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  line-height: 28px;
}

.CSecond .left .text {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.CSecond .left .text .box1 {
  width: 80%;
  height: 100%;
}

.CSecond .left .text .box1 h1 {
  color: #030303;
  font-size: 17px;
  font-weight: 400;
  font-family: 'Playfair Display', serif;
}

.CSecond .left .text .box1 p {
  color: #7c7c7c;
  font-size: 17px;
  font-weight: 400;
  font-family: 'Playfair Display', serif;
}

.CSecond .right {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.CSecond .right input {
  width: 635px;
  height: 45px;
  margin: 0 0 15px;
  padding: 15px 24px;
  border: 1px solid #ebe9e9;
}

.CSecond .right .big {
  width: 635px;
  height: 158px;
}

.CSecond .right button {
  color: #c9a74d;
  padding: 10px 50px;
  background-color: #030303;
  border: 2px solid transparent;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;
}

.CThird {
  width: 100%;
  height: auto;
}

.OFirst {
  width: 100%;
  height: 80vh;
  background-attachment: fixed;
  background-image: url(../image/our-process-bg.jpeg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.OFirst nav {
  top: 0;
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 44444;
}

.OFirst nav .left {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.OFirst nav .left img {
  width: 110px;
  height: 60px;
  margin-left: 35px;
}

.OFirst nav .right {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.OFirst nav .right a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.OFirst nav .right .now {
  color: #c9a74d;
}

.OFirst .text {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.OFirst .text h1 {
  font-size: 80px;
  font-weight: lighter;
  letter-spacing: 3px;
  font-family: 'Playfair Display', serif;
}

.OFirst .text p {
  font-size: 20px;
  color: #0a0a0a;
  font-family: 'Open Sans', sans-serif;
}

.OFirst .text .line {
  width: 100px;
  height: 1px;
  background-color: #c9a74d;
  margin-top: 5px;
  margin-bottom: 20px;
}

.OSecond {
  width: 100%;
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.OSecond .box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.OSecond .box img {
  width: 635px;
  height: 392px;
}

.OSecond .box .box1 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.OSecond .box .box1 img {
  width: 85px;
  height: 83px;
}

.OSecond .box .box1 h3 {
  color: #350101;
  font-size: 58px;
  font-weight: 100;
  margin-top: 10px;
  letter-spacing: 2px;
  font-family: 'Tangerine', cursive;
}

.OSecond .box .box1 span {
  color: #7c7c7c;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

.OThird {
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: top;
  background-image: url("../image/ice-cream-bg.jpeg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-attachment: fixed;
}

.OThird .box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.OThird .box img {
  width: 605px;
  height: 373px;
}

.OThird .box h1 {
  color: #fff;
  letter-spacing: 2px;
  font-weight: 100;
  font-family: 'Playfair Display', serif;
}

.OThird .box span {
  color: #fff;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
  line-height: 25px;
}

.OThird .box .line {
  width: 100px;
  height: 1px;
  background-color: #c9a74d;
  margin-top: 5px;
  margin-bottom: 20px;
}

.OFourth {
  width: 100%;
  height: 70vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../image/our-process-bg2.jpeg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.OFourth .box {
  width: 100%;
  height: 100%;
  text-align: center;
}

.OFourth .box h1 {
  color: #030303;
  font-size: 45px;
  font-weight: 300;
  letter-spacing: 1px;
  font-family: 'Tangerine', cursive;
}

.OFourth .box p {
  color: #7c7c7c;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
}

.OFifth {
  width: 100%;
  height: 65vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url(../image//bg-cookie.jpeg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.OFifth .box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.OFifth .box .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.OFifth .box .buttons button {
  border: 1px solid #cfa030;
  background-color: transparent;
  padding: 14px 28px;
  color: #363636;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.OFifth .box .buttons button:hover {
  background-color: #c9a74d;
}

.OFifth .box p {
  color: #7c7c7c;
  margin-top: 15px;
  font-size: 20px;
  font-family: 'Playfair Display', serif;
  font-weight: 300;
}

.OFifth .box span {
  color: #7c7c7c;
  font-size: 18px;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
}

.OFifth .box span i {
  color: #cfa030;
}

.OSixth {
  width: 100%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.OSixth .right {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.OSixth .right img {
  width: 605px;
  height: 373px;
}

.OSixth .left {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.OSixth .left .line {
  width: 90px;
  height: 2px;
  background-color: #cfa030;
  margin-bottom: 20px;
}

.OSixth .left h1 {
  margin-bottom: 20px;
  font-size: 65px;
  font-weight: 200;
  font-family: 'Tangerine', cursive;
  letter-spacing: 1px;
}

.OSixth .left span {
  font-size: 18px;
  font-weight: 300;
  color: #7c7c7c;
  font-family: 'Open Sans', sans-serif;
}

.PFirst {
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-image: url(../image/shop-bg.jpeg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.PFirst nav {
  top: 0;
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.PFirst nav .left {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.PFirst nav .left img {
  width: 110px;
  height: 60px;
  margin-left: 35px;
}

.PFirst nav .right {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.PFirst nav .right a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.PFirst nav .right .now {
  color: #c9a74d;
}

.PFirst .box {
  width: 100%;
  height: 100%;
  padding-top: 180px;
}

.PFirst .box h1 {
  color: #000000;
  font-size: 70px;
  font-weight: 300;
  font-family: 'Playfair Display', serif;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.PFirst .box .line {
  width: 100px;
  height: 1px;
  background-color: #cfa030;
  margin-bottom: 20px;
}

.PFirst .box span {
  color: #111010;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
}

.PFirst .box span i {
  color: #cfa030;
}

.PSecond {
  width: 100%;
  height: 90vh;
  background-color: #610274;
}
/*# sourceMappingURL=style.css.map */