@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@100;200;300;400;500;600;700;800;900&display=swap');
.entry-first{
    width: 100%;
    height: 100vh;
    header{
        width: 100%;
        .head{
            width: 100%;
            height: 100%;
            background: transparent;
        }
    }
    .slide1{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-image: url("../image/entryslider-bg1.jpeg");
        display: flex;
        align-items: center;
        justify-content: center;
        .text{
            width: 56%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            img{
                width: 224px;
                height: 237px;
            }
            .line{
                width: 150px;
                height: 1px;
                background-color: #c9a74d;
                margin-top: 20px;
                margin-bottom: 20px;
            }
            h1{
                color: #fff;
                line-height: 27px;
                font-size: 20px;
                font-weight: 400;
                //font-family: 'Playfair Display', serif;
                font-family: 'Open Sans', sans-serif;
                margin-bottom: 30px;
            }
            button{
                color: black;
                padding: 14px 76px;
                font-size: 16px;
                font-weight: 300;
                font-family: 'Open Sans', sans-serif;
                background-color: rgb(201, 167, 77);
                border: 1px solid #c9a74d;
            }
        }
    }
    .slide2{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-image: url("../image/entryslider-bg2.jpeg");
        display: flex;
        align-items: center;
        justify-content: center;
        .text{
            width: 60%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            img{
                width: 224px;
                height: 237px;
            }
            .line{
                width: 150px;
                height: 1px;
                background-color: #c9a74d;
                margin-top: 20px;
                margin-bottom: 20px;
            }
            h1{
                color: #fff;
                line-height: 27px;
                font-size: 20px;
                font-weight: 400;
                font-family: 'Open Sans', sans-serif;
                margin-bottom: 30px;
            }
            button{
                color: black;
                padding: 14px 76px;
                font-size: 16px;
                font-weight: 300;
                font-family: 'Open Sans', sans-serif;
                background-color: rgb(201, 167, 77);
                border: 1px solid #c9a74d;
            }
        }
    }
    .slide3{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-image: url("../image/entryslider-bg3.jpeg");
        display: flex;
        align-items: center;
        justify-content: center;
        .text{
            width: 60%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            img{
                width: 224px;
                height: 237px;
            }
            .line{
                width: 150px;
                height: 1px;
                background-color: #c9a74d;
                margin-top: 20px;
                margin-bottom: 20px;
            }
            h1{
                color: #fff;
                line-height: 27px;
                font-size: 20px;
                font-weight: 400;
                font-family: 'Open Sans', sans-serif;
                margin-bottom: 30px;
            }
            button{
                color: black;
                padding: 14px 76px;
                font-size: 16px;
                font-weight: 300;
                font-family: 'Open Sans', sans-serif;
                background-color: rgb(201, 167, 77);
                border: 1px solid #c9a74d;
            }
        }
    }
    .slide4{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-image: url("../image/entryslider-bg4.jpeg");
        display: flex;
        align-items: center;
        justify-content: center;
        .text{
            width: 60%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            img{
                width: 352px;
                height: 237px;
            }
            .line{
                width: 150px;
                height: 1px;
                background-color: #c9a74d;
                margin-bottom: 20px;
            }
            h1{
                color: #fff;
                line-height: 27px;
                font-size: 20px;
                font-weight: 400;
                font-family: 'Open Sans', sans-serif;
                margin-bottom: 30px;
            }
            button{
                color: black;
                padding: 14px 76px;
                font-size: 16px;
                font-weight: 300;
                font-family: 'Open Sans', sans-serif;
                background-color: rgb(201, 167, 77);
                border: 1px solid #c9a74d;
            }
        }
    }
}
.entry-second{
    width: 100%;
    height: 50vh;
    background-color: #c9a74d
}
.last-section{
    width: 100%;
    height: 18vh;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    .icons{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        a{
            margin-left: 15px;
            padding: 10px 15px;
            border: 1px solid rgb(201, 167, 77);
            border-radius: 50%;
            transition: 1s;
            i{
                color: rgb(201, 167, 77);
            }
            &:hover{
                background-color: #c9a74d;
                i{
                    color: black;
                } 
            }
        }
    }
}
footer{
    width: 100%;
    height: 60vh;
    background-color: #070707;
    display: flex;
    align-items: center;
    justify-content: center;
    .box1{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        border-right: 1px solid #7c7c7c;
        h1{
            color: #fff;
            font-size: 62px;
            font-weight: 100;
            font-family: 'Tangerine', cursive;
            letter-spacing: 1px;
        }
        .line{
            width: 100px;
            height: 1px;
            background-color: #c9a74d;
            margin-top: 5px;
            margin-bottom: 20px;
        }
        a{
            color: #d4d4d4;
            line-height: 25px;
            text-decoration: none;
            font-size: 17px;
            font-weight: 400;
            font-family: 'Open Sans', sans-serif;
        }
    }
    .box2{
        padding: 0px 25px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:flex-end;
        text-align: center;
        border-right: 1px solid #7c7c7c;
        img{
            width: 57px;
            height: 87px;
            margin-bottom: 20px;
        }
        h1{
            color: #fff;
            font-size: 62px;
            font-weight: 100;
            font-family: 'Tangerine', cursive;
            letter-spacing: 1px;
        }
        .line{
            width: 100px;
            height: 1px;
            background-color: #c9a74d;
            margin-top: 5px;
            margin-bottom: 20px;
        }
        h2{
            color: #d4d4d4;
            line-height: 25px;
            font-size: 17px;
            font-weight: 400;
            font-family: 'Open Sans', sans-serif;
        }
    }
    .box3{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        img{
            width: 340px;
            height: 164px;
        }
    }
}